html,
body {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

p {
	margin: 0;
}

strong,
em {
	font-style: normal;
}

:where(:any-link) {
	color: inherit;
	text-decoration: none;
}

ul,
dl,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

figure,
dd {
	margin: 0;
}

input,
textarea {
	margin: 0;
	box-sizing: border-box;
}

button {
	padding: 0;
	border: none;
	text-align: left;
	font-family: inherit;
}
