h1,
h2,
h3,
h4 {
	margin: 0;
}

p {
	margin: 0;
}

strong,
em {
	font-style: normal;
}

:where(:any-link) {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
