@use "reset";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap");

body {
	margin: 0;
	background-color: $c-fff;
	color: $c-404;
	font-family: "Poppins", "Noto Sans Tc", Helvetica, Arial, "微軟正黑體",
		Heiti TC, "メイリオ", sans-serif;
}

#app {
	margin: 0 auto;
	overflow: hidden;
	max-width: $viewMaxWidth;
	min-width: 415px;
}

@keyframes rotate {
	to {
		transform: rotate(1turn);
	}
}

@keyframes goUp {
	to {
		transform: translateY(-4px);
	}
}

@keyframes goDown {
	from {
		transform: translateY(10px);
	}
}

@keyframes bigger {
	to {
		transform: scale(1.05);
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

@keyframes strechWidth {
	to {
		width: 100%;
	}
}
