// colors

$c-fff: #fff;
$c-fff79: #ffffff79;
$c-ccc79: #cccccc79;
$c-b5b: #b5b5b5;
$c-999: #999;
$c-96a: #96a9b3;
$c-8c8: #8c8c8c;
$c-666: #666;
$c-4f6: #4f638f;
$c-414: #414141;
$c-404: #404040;
$c-333: #333;
$c-262: #262626;
$c-222: #222;
$c-191: #191919;
$c-0d0: #0d0d0d;
$c-000: #000;

// fontSizes

$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-19: 19px;
$fs-20: 20px;
$fs-24: 24px;
$fs-25: 25px;
$fs-30: 30px;
$fs-40: 40px;
$fs-50: 50px;
$fs-60: 60px;
